@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Bitcount:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.rest-day-bg {
    background-color: rgb(230,230,230) !important;
}

* {
    font-family: 'Courier', sans-serif;
}

.site-heading {
    font-family: 'Bitcount Grid Single'
}